<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/engSoft2aula1aquecimento/src/engSoft2aula1aquecimento/excercio8.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="engSoft2aula1aquecimento.excercio8"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="engSoft2aula1aquecimento"/>
</launchConfiguration>
